<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5 col-2 ">
      <a class="btn btn-primary" href="/profile">Profile</a>
    </div> 
    <h1>Feed/Landing Page</h1>
    <div class="row justify-content-center mt-5 col-12"> <!--add EDIT icon for current user, add post creator to posts-->
      <ul class="row list-unstyled col-6 d-flex justify-content-center">
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="card bg-light border border-dark mb-3" style="width: 25rem;"> <!--cards/borders-->
            <h4 class="card-text text-center mt-2"><%= posts[i].title%></h4>
            
            <li class="col-12 mt-2">
            <a href="/post/<%= posts[i]._id%>">
              <!--is img class where to adjust image size?-->
              <img class="card-img-top" src="<%= posts[i].image%>"> 
            </a>
            <div class="col-12 d-flex justify-content-between"><!--trying to add like and comment count-->
              <p class="col-2">Likes: <%= posts[i].likes %></p>
              <p class="col-3">Comments: <%= posts[i].commentCount %></p>
            </div>   
            <i class="fa-solid fa-fire-flame-curved fa-2xl mt-2 mb-4
            d-flex justify-content-end"></i>         
            </li>                   
          </div>
        <% } %>
      </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>