<%- include('partials/header') -%>
<div class="container">
  <!--trying cards-->
  <div class="card mb-3 mt-5" style="max-width: 50rem;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <img src="<%= post.image%>" class="card-img" alt="">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.caption %></p>
        </div>
      </div>
    </div>
  </div>
  <!--trying cards-->
  <h6><%= post.createdAt %></h6>
  <!--likes and comments under card-->
  <div class="row justify-content-between col-8">
    <form
      class="col-1 mt-1"
      action="/post/likePost/<%= post.id %>?_method=PUT"
      method="POST">
      <button class="btn btn-primary fa fa-heart" type="submit"></button>
    </form>
    <h3 class="col-2">Likes: <%= post.likes %></h3>
    <h3 class="col-4">Comments: <%= post.commentCount %></h3>
    <%if(post.user == user.id){ %>
    <form
      action="/post/deletePost/<%= post.id %>?_method=DELETE"
      method="POST" class="col-1 mt-1">
      <button class="btn btn-primary fa fa-trash" type="submit"></button>
    </form>
    <%}%>
  </div>
  <!--likes and comments under card-->

<!--comment section-->
  <div class="mt-4">
    <div>
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%= post._id %>" method="POST">
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <!-- added comment button ID, take that off -->
        <button type="submit" class="btn btn-primary" id="commentButton">Submit</button>
      </form>
    </div>
    <div class="border border-dark mt-5 py-4">
      <ul>
        <% for(var i=0; i<comments.length; i++) {%> 
          <li class="col-11 my-1 justify-content-between list-unstyled"><!--took col-12 off-->
             <!--trying to format on same line-->
            <div class="row">
              <p class="col-1 border border-dark fw-bold"><%= comments[i].user.userName%>:</p><p class="col-9 border border-dark"><%= comments[i].comment%></p> <!--adding username to comment, check functionality when adding other users-->
            </div>
            
          </li>
        <% } %>
      </ul>
    </div>
  </div>
<!--navigation buttons-->
  <div class="col-12 mt-5 d-flex justify-content-center">
    <a class="btn btn-primary mx-1" href="/profile">Return to Profile</a>
    <a class="btn btn-primary mx-1" href="/feed">Return to Feed</a>
  </div>
</div>

<%- include('partials/footer') -%>
